<app-loader></app-loader>
<main>
  <div class="dashboard-container">
    <nav-bar></nav-bar>
    <section class="environmental-conditions">
      <h2>
        Cargador 2
        <span *ngIf="feedName"> - {{ feedName }}</span>
      </h2>
      <app-actions></app-actions>
      <br><br>
      <table-selector 
        [columns]="columns" 
        [rows]="rows" 
        [showActions]="true"
        (editRow)="onEdit($event)"
        (deleteRow)="onDelete($event)">
      </table-selector>
    </section>
  </div>
</main>