.status-tag {
  display: inline-block;
  background-color: #d6ff41;
  color: #000;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
