<div class="card-container">
  <div class="card-content">
    <div class="card-header">
      <div class="header-left">
        <h3>{{ title }}</h3>
        <h5 *ngIf="subtitle || sensorType">{{ sensorType || subtitle }}</h5>
      </div>
      <div class="header-right" *ngIf="rightValue || value">
        <span class="right-value">{{ rightValue || value }}</span>
        <span class="right-unit" *ngIf="unit">{{ unit }}</span>
        <span class="right-subtitle" *ngIf="rightSubtitle">{{ rightSubtitle }}</span>
      </div>
    </div>


    <div class="card-body" *ngIf="content">
      <p>{{ content }}</p>
    </div>

    <div class="chart-area" *ngIf="showChart">
      <div class="chart-placeholder">
        📈 Gráfico de datos en tiempo real
      </div>
    </div>
    <div class="card-extra-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
